/* smooth scroll */
* {
  scroll-behavior: smooth !important;
}
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }
}

/* Cmso */

[data-qb-domain="mon.cmso.com"] .old-template .na-hero {
    background-image: radial-gradient(circle, #c7090d, white) !important;
}

/* Mangasee123 */

[data-qb-domain="mangasee123.com"] nav.fixed-top {
    position: absolute !important;
}

[data-qb-domain="mangasee123.com"] body {
    background: #1F1F21;
    color: #FFF;
    height: auto;
}

/* Linkedin */
[data-qb-domain="www.linkedin.com"] body,
[data-qb-domain="www.linkedin.com"] .msg-s-message-list__top-banner,
[data-qb-domain="www.linkedin.com"] .msg-s-event-listitem__options-ellipsis,
[data-qb-domain="www.linkedin.com"] .msg-overlay-list-bubble-search__input-container,
[data-qb-domain="www.linkedin.com"] section.msg-overlay-list-bubble__content.msg-overlay-list-bubble__content--scrollable {
    background-color: #1F1F21 !important;
}

/* Mangadex */

[data-qb-domain="mangadex.org"] nav.fixed-top {
    position: absolute !important;
}

[data-qb-domain="mangadex.org"] .navbar-brand > small {
    display: none !important;
}

[data-qb-domain="mangadex.org"] .reader.layout-horizontal.hide-sidebar .reader-images {
    padding-right: 0 !important;
}
[data-qb-domain="mangadex.org"] .reader.layout-horizontal .reader-images {
    padding-right: 0 !important;
}

[data-qb-domain="mangadex.org"] #reader-controls-collapser {
    border: 0 !important;
}

[data-qb-domain="mangadex.org"] .bg-reader-controls {
    background-color: inherit;
}

[data-qb-domain="mangadex.org"] #reader-controls-collapser > .fa-caret-right::before {
    content: "";
}


/* Manga@home */

[data-qb-domain="manga.neptune.one"] .container {
    color: rgb(223, 223, 223);
}

[data-qb-domain="manga.neptune.one"] .os-content > .container > .container,
[data-qb-domain="manga.neptune.one"] .vue-grid-item {
    background-color: #2f2f2fc9 !important;
    box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.1), 1px 1px 0px 0px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(0.75rem) !important;
}

[data-qb-domain="manga.neptune.one"] .v-navigation-drawer {
    height: inherit !important;
}

[data-qb-domain="manga.neptune.one"] .echarts canvas {
    filter: hue-rotate(0.8rad);
}
