/* Mangadex */

/** DESCRIPTION : change the elements of all page **/
/*[data-qb-domain="mangadex.org"] *:not(span) {
	font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
}*/

[data-qb-domain="mangadex.org"] *::-moz-focus-inner {
	border: 0;
}

[data-qb-domain="mangadex.org"] select {
	-webkit-appearance: none;
	-moz-appearance: none;
	/*text-indent: 0px;*/
	text-overflow: ellipsis;
	white-space: nowrap;
}

[data-qb-domain="mangadex.org"] body {
	background: #1F1F21;
	color: #FFF;
}

[data-qb-domain="mangadex.org"] #content {
	margin-top: 30px !important;
}

[data-qb-domain="mangadex.org"] hr {
	border-top: 1px solid #1D1D1E;
}

[data-qb-domain="mangadex.org"] .btn.dropdown-toggle.btn-light:active,
[data-qb-domain="mangadex.org"] .show > .btn-light.dropdown-toggle {
	background: #222326 !important;
}

[data-qb-domain="mangadex.org"] .alert {

	/*** ALERT POPUP ***/
	background-image: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	padding: 10px 15px 14px 15px !important;
}

[data-qb-domain="mangadex.org"] .alert,
[data-qb-domain="mangadex.org"] .alert * {
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	text-shadow: none !important;
}

[data-qb-domain="mangadex.org"] .alert.alert-info {
	background: #574b90;
}

[data-qb-domain="mangadex.org"] .alert.alert-warning {
	background: #ED4C67;
}

[data-qb-domain="mangadex.org"] .alert.alert-success {
	background: #10AC84;
	padding-top: 8px !important;
}

[data-qb-domain="mangadex.org"] #announcement,
[data-qb-domain="mangadex.org"] #announcement * {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] #announcement button[aria-label="Close"] {
	margin-top: -3px !important;
}

[data-qb-domain="mangadex.org"] .dropdown-menu {

	/*** DROPDOWN MENU ***/
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	padding-top: 15px !important;
	padding-bottom: 18px !important;
}

[data-qb-domain="mangadex.org"] .dropdown-item.active,
[data-qb-domain="mangadex.org"] .dropdown-item:hover,
[data-qb-domain="mangadex.org"] .dropdown-item:focus {
	background: #2B2C30;
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .dropdown-item {
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .dropdown-menu * {
	border-color: #1D1D1E !important;
}

[data-qb-domain="mangadex.org"] .btn .fas::before {

	/*** ICONS ***/
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .fa-star::before {
	color: #F4D03F !important;
}

[data-qb-domain="mangadex.org"] .fa-book,
[data-qb-domain="mangadex.org"] .fa-book::before {
	color: #2980B9 !important;
}

[data-qb-domain="mangadex.org"] .fa-bookmark::before {
	color: #2ECC71;
}

[data-qb-domain="mangadex.org"] .fa-exclamation-circle::before,
[data-qb-domain="mangadex.org"] .fa-info::before,
[data-qb-domain="mangadex.org"] .fa-info-circle::before,
[data-qb-domain="mangadex.org"] .fa-question-circle::before {
	color: #8395A7 !important;
}

[data-qb-domain="mangadex.org"] .fa-file::before {
	color: #BEBEBE !important;
}

[data-qb-domain="mangadex.org"] .fa-user::before,
[data-qb-domain="mangadex.org"] .fa-users::before,
[data-qb-domain="mangadex.org"] .fa-user-friends::before {
	color: #ABB7B7 !important;
}

[data-qb-domain="mangadex.org"] .fa-clock::before {
	color: #6C7A89 !important;
}

[data-qb-domain="mangadex.org"] .fa-sync::before {
	color: #218C74 !important;
}

[data-qb-domain="mangadex.org"] .fa-search::before {
	color: #EAB543;
}

[data-qb-domain="mangadex.org"] .fa-tv::before {
	color: #808E9B !important;
}

[data-qb-domain="mangadex.org"] .fa-plus-circle::before {
	color: #596275 !important;
}

[data-qb-domain="mangadex.org"] .fa-university::before {
	color: #B33771 !important;
}

[data-qb-domain="mangadex.org"] .fa-discord::before {
	color: #7388D9 !important;
}

[data-qb-domain="mangadex.org"] .fa-twitter::before {
	color: #00ACED !important;
}

[data-qb-domain="mangadex.org"] .fa-reddit::before {
	color: #FF4500 !important;
}

[data-qb-domain="mangadex.org"] .fa-hashtag::before {
	color: #8A3AB9 !important;
}

[data-qb-domain="mangadex.org"] .fa-list::before {
	color: #34ACE0;
}

[data-qb-domain="mangadex.org"] .fa-code::before {
	color: #218C74;
}

[data-qb-domain="mangadex.org"] .fa-thumbtack::before {
	color: #E66767;
}

[data-qb-domain="mangadex.org"] .fa-lock::before {
	color: #F5CD79;
}

[data-qb-domain="mangadex.org"] .fa-envelope::before {
	color: #227093;
}

[data-qb-domain="mangadex.org"] .fa-pencil-alt::before {
	color: #FFB142;
}

[data-qb-domain="mangadex.org"] .fa-trash::before {
	color: #84817A;
}

[data-qb-domain="mangadex.org"] .fa-check::before {
	color: #2ED573;
}

[data-qb-domain="mangadex.org"] .fa-pause::before {
	color: #ED4C67;
}

[data-qb-domain="mangadex.org"] .fa-calendar-alt::before {
	color: #6BC6E1;
}

[data-qb-domain="mangadex.org"] .fa-eye::before {
	color: #006266;
}

[data-qb-domain="mangadex.org"] .fa-clipboard-list::before {
	color: #747D8C;
}

[data-qb-domain="mangadex.org"] .fa-dollar-sign::before {
	color: #2ED573;
}

[data-qb-domain="mangadex.org"] a[style*="#c00"] {

	/*** USERS COLORS ***/
	color: #ED4C67 !important;
}

[data-qb-domain="mangadex.org"] a[style*="#36f"],
[data-qb-domain="mangadex.org"] a[style*="#06f"] {
	color: #686DE0 !important;
}

[data-qb-domain="mangadex.org"] a[style*="#090"] {
	color: #A3CB38 !important;
}

[data-qb-domain="mangadex.org"] .pagination {

	/*** PAGINATION ***/
	margin-bottom: 20px !important;
}

[data-qb-domain="mangadex.org"] .pagination .page-item {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .pagination .page-item a {
	background: #2B2C30 !important;
	border: none !important;
}

[data-qb-domain="mangadex.org"] .pagination .page-item a:focus {
	box-shadow: none;
}

[data-qb-domain="mangadex.org"] .pagination .page-item.active a {
	background: #222326 !important;
}

[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-secondary.next_chapter_alt,
[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-secondary.prev_chapter_alt,
[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-secondary.next_page_alt,
[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-secondary.prev_page_alt {
	background: #2B2C30;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .btn.btn-secondary.disabled,
[data-qb-domain="mangadex.org"] #comment-button .comment-amount,
[data-qb-domain="mangadex.org"] .footer,
[data-qb-domain="mangadex.org"] #hide-header-button,
[data-qb-domain="mangadex.org"] img[src*="banner"],
[data-qb-domain="mangadex.org"] .reader-page-bar .track,
[data-qb-domain="mangadex.org"] #reader-controls-collapser,
[data-qb-domain="mangadex.org"] .reader-controls-footer,
[data-qb-domain="mangadex.org"] .reader-controls-groups,
[data-qb-domain="mangadex.org"] .reader-controls-pages,
[data-qb-domain="mangadex.org"] .reader-controls-mode,
[data-qb-domain="mangadex.org"] .reader-load-icon,
[data-qb-domain="mangadex.org"] #report-button,
[data-qb-domain="mangadex.org"] #search_manga .badge.badge-secondary,
[data-qb-domain="mangadex.org"] #search_manga .btn-group,
[data-qb-domain="mangadex.org"] #search_manga .p-1.col.text-center.text-primary,
[data-qb-domain="mangadex.org"] .border-bottom .btn-group,
[data-qb-domain="mangadex.org"] .border-bottom .p-1.col.text-center.text-primary,
[data-qb-domain="mangadex.org"] #settings-button .d-lg-inline {
	display: none !important;
}

[data-qb-domain="mangadex.org"] .reader-controls.col.row.no-gutters.flex-column.flex-nowrap {
    display: contents;
}

/* HEADER */

/** DESCRIPTION : change the elements of the header **/
[data-qb-domain="mangadex.org"] .navbar {
	background: #202124;
	border-bottom: 1px solid #1D1D1E !important;
	box-shadow: none;
	padding-top: 10px !important;
	padding-bottom: 14px !important;
	position: absolute;
	top: 0px !important;
	display: block !important;
}

[data-qb-domain="mangadex.org"] .navbar .container {

	/*** HEADER CONTAINER ***/
	max-width: 100% !important;
	padding-right: 10px !important;
	padding-left: 0px !important;
}

[data-qb-domain="mangadex.org"] .navbar-brand {

	/*** HEADER MASCOT ***/
	margin-left: -5px !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .d-lg-none {

	/*** HEADER TITLE ***/
	/*font-size: 14pt !important;*/
	position: relative !important;
	top: 1px !important;
	left: 6px;
}

[data-qb-domain="mangadex.org"] .navbar .container .nav-item {

	/*** HEADER SECTION ***/
	margin-right: 10px !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .nav-item .fas {
	margin-right: 5px;
}

[data-qb-domain="mangadex.org"] .navbar .container .navbar-nav:last-child .nav-item {
	margin-right: 5px !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .navbar-nav:last-child .nav-item .fas {
	margin-right: 0px !important;
}

[data-qb-domain="mangadex.org"] .navbar .container a {
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	text-shadow: none;
}

[data-qb-domain="mangadex.org"] .navbar .container .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 10px !important;
	width: 10px !important;
	position: absolute;
	top: 20px;
	right: -8px;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .input-group {

	/*** HEADER SEARCH ***/
	border: none !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .input-group #quick_search_type {
	background: #2F2E33 !important;
	border: none !important;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	margin-top: 1px;
	margin-right: 20px !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .input-group #quick_search_input {
	background: transparent !important;
	border: none;
	box-shadow: none !important;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	/*text-indent: -12px !important;*/
}

[data-qb-domain="mangadex.org"] .navbar .container .input-group #quick_search_type:focus,
[data-qb-domain="mangadex.org"] .navbar .container .input-group #quick_search_input:focus {
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .input-group #quick_search_button {
	background: transparent !important;
	border: none;
	box-shadow: none;
	/*font-size: 14pt;*/
}

[data-qb-domain="mangadex.org"] #quick_search_button .fas::before {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .navbar .container .navbar-toggler {
	background: #2F2E33 !important;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .navbar .container .navbar-toggler span {
	filter: brightness(0) invert(1) !important;
}

/* LOGIN */

/** DESCRIPTION : change the elements of the login page **/
[data-qb-domain="mangadex.org"] #login_container input,
[data-qb-domain="mangadex.org"] #reset_email,
[data-qb-domain="mangadex.org"] #reset_code {
	background: #2B2C30;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] #login_container .custom-checkbox .custom-control-label::before {
	background: #2B2C30;
	border: 1px solid #1D1D1E;
	border-radius: 2px;
	margin-top: 9px;
}

[data-qb-domain="mangadex.org"] #login_container .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	filter: brightness(0) invert(1);
	margin-top: 3px;
}

[data-qb-domain="mangadex.org"] #login_button,
[data-qb-domain="mangadex.org"] #forgot_button,
[data-qb-domain="mangadex.org"] #reset_button {
	background-image: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	color: #FFF !important;
	text-shadow: none;
}

/* MODAL */

/** DESCRIPTION : change the elements of the modal popup **/
[data-qb-domain="mangadex.org"] .modal-content {
	background: #2B2C30;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .modal-content * {
	border-color: #1D1D1E;
	color: #FFF;
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .modal-content .modal-header * {
	/*font-size: 16pt;*/
}

[data-qb-domain="mangadex.org"] .modal-content .modal-body * {
	/*font-size: 14pt;*/
}

[data-qb-domain="mangadex.org"] .modal-content .modal-body button,
[data-qb-domain="mangadex.org"] .modal-content .modal-body input,
[data-qb-domain="mangadex.org"] .modal-content .modal-body select,
[data-qb-domain="mangadex.org"] .modal-content .modal-body textarea {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .modal-content .modal-body button:focus {
	background: #222326 !important;
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] .modal-content .flag {
	position: relative;
	top: -3px !important;
}

[data-qb-domain="mangadex.org"] .modal-content .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 15px !important;
	width: 15px !important;
	position: relative !important;
	top: 5px !important;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .modal-content .bs-actionsbox {
	background: #2B2C30 !important;
	border-bottom: 1px solid #1D1D1E;
	padding-top: 10px;
	padding-bottom: 10px !important;
	margin-top: -15px;
}

[data-qb-domain="mangadex.org"] .dropdown-menu > li > a:hover,
[data-qb-domain="mangadex.org"] .dropdown-menu > li > a:focus {
	background: #2B2C30;
}

[data-qb-domain="mangadex.org"] .modal-footer .btn {
	background: #446CB3;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-weight: bold;
padding-right: 20px;
	padding-bottom: 9px;
padding-left: 20px;
}

[data-qb-domain="mangadex.org"] .close span {
	/*font-size: 18pt !important;*/
	font-stretch: normal !important;
	margin-right: 3px !important;
}

/* SETTINGS */

/** DESCRIPTION : change the elements of the settings page **/
[data-qb-domain="mangadex.org"] #site_settings_form button,
[data-qb-domain="mangadex.org"] #site_settings_form input,
[data-qb-domain="mangadex.org"] #change_profile_form button,
[data-qb-domain="mangadex.org"] #change_profile_form input,
[data-qb-domain="mangadex.org"] #change_profile_form textarea,
[data-qb-domain="mangadex.org"] #change_password_form input,
[data-qb-domain="mangadex.org"] #upload_settings_form button {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] #site_settings_form .dropdown-toggle::after,
[data-qb-domain="mangadex.org"] #change_profile_form .dropdown-toggle::after,
[data-qb-domain="mangadex.org"] #upload_settings_form .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 15px !important;
	width: 15px !important;
	position: relative !important;
	top: 5px !important;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .form-group .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background: #2B2C30;
	border: 1px solid #1D1D1E;
	border-radius: 2px;
	margin-top: 5px;
}

[data-qb-domain="mangadex.org"] .form-group .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	filter: brightness(0) invert(1);
	margin-top: 5px;
}

[data-qb-domain="mangadex.org"] .input-group-text {
	background: #1F1F21 !important;
	border: none !important;
	box-shadow: 0px 1px 2Px rgba(0, 0, 0, .2) !important;
}

/* HOME */

/** DESCRIPTION : change the elements of the home page **/
[data-qb-domain="mangadex.org"] .nav-pills .nav-link.active,
[data-qb-domain="mangadex.org"] .nav-pills .show > .nav-link {
	border-radius: 2px;
	color: #FFF !important;
	opacity: 1 !important;
}

[data-qb-domain="mangadex.org"] .rounded {
	border-radius: 2px !important;
}

[data-qb-domain="mangadex.org"] .rounded a img {
	border-radius: 1px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

[data-qb-domain="mangadex.org"] #content .mb-3 .d-inline {
	color: #FFF;
	/*font-size: 16pt;*/
	font-stretch: condensed;
	font-weight: bold;
}

[data-qb-domain="mangadex.org"] .tab-content #latest_update .row .flag,
[data-qb-domain="mangadex.org"] .tab-content #follows_update .row .flag {
	position: relative;
	top: -3px !important;
}

[data-qb-domain="mangadex.org"] .tab-content #latest_update .border-bottom .fas.fa-book,
[data-qb-domain="mangadex.org"] .tab-content #follows_update .border-bottom .fas.fa-book,
[data-qb-domain="mangadex.org"] .list-group .border-bottom .fas.fa-book {
	margin-left: -5px !important;
}

[data-qb-domain="mangadex.org"] .float-right.btn-group {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .float-right.btn-group button {
	background: #2B2C30 !important;
	border: none !important;
	box-shadow: none !important;
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] #forum_posts .list-group.list-group-flush a {
	color: #2980B9 !important;
}

[data-qb-domain="mangadex.org"] #hled_titles_owl_play,
[data-qb-domain="mangadex.org"] #hled_titles_owl_stop,
[data-qb-domain="mangadex.org"] #new_titles_owl_play,
[data-qb-domain="mangadex.org"] #new_titles_owl_stop {
	background: #222326 !important;
}

[data-qb-domain="mangadex.org"] .float-right.btn-group button .fas::before {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .large_logo {
	height: 280px !important;
}

[data-qb-domain="mangadex.org"] .large_logo.rounded {
	border-radius: 2px !important;
}

[data-qb-domain="mangadex.org"] .owl-carousel .owl-item img.owl-lazy {
	border-radius: 1px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .car-caption.px-2.py-1 {
	background: #2B2C30;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	height: 65px !important;
}

[data-qb-domain="mangadex.org"] .car-caption.px-2.py-1 * {
	/*font-size: 12pt;*/
	font-stretch: condensed;
}

/* FOLLOW */

/** DESCRIPTION : change the elements of the follow page **/
[data-qb-domain="mangadex.org"] #content .nav.nav-tabs {
	padding-bottom: 8px;
}

[data-qb-domain="mangadex.org"] #content .nav.nav-tabs .nav-item .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 10px !important;
	width: 10px !important;
	position: absolute !important;
	top: 19px !important;
	right: 0px;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .nav-tabs .nav-link.active,
[data-qb-domain="mangadex.org"] .nav-tabs .nav-item.show .nav-link {
	background: transparent !important;
	border: 1px solid transparent !important;
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .nav-link.active {
	opacity: .5;
}

[data-qb-domain="mangadex.org"] #content *,
[data-qb-domain="mangadex.org"] #chapters *,
[data-qb-domain="mangadex.org"] .tab-content * {
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .tab-content #chapters #import_form .form-control {
	background: #2B2C30 !important;
	border: none !important;
	border-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
}

[data-qb-domain="mangadex.org"] .social-media-btns > div > a {
	color: transparent !important;
}

/* MANGA */

/** DESCRIPTION : change the elements of the manga page **/
[data-qb-domain="mangadex.org"] .card {

	/*** MANGA CARD ***/
	background: #2B2C30;
	border: none;
	border-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .list-group .list-group-item {
	background: #2B2C30;
	border-bottom: 1px solid #1D1D1E;
	padding-top: 10px !important;
}

[data-qb-domain="mangadex.org"] .card .card-header {

	/*** MANGA CARD HEADER ***/
	background: #171719;
	border-color: #111 !important;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	/*font-size: 15pt;*/
	font-stretch: condensed;
	padding: 15px !important;
}

[data-qb-domain="mangadex.org"] .card-header.p-0 {
	border-radius: 1px !important;
}

[data-qb-domain="mangadex.org"] .card .card-header .rounded {

	/*** MANGA CARD FLAG ICON ***/
	position: relative;
	top: 2px !important;
	margin-left: 5px !important;
}

[data-qb-domain="mangadex.org"] .card .card-header .fas {

	/*** MANGA CARD RSS ICON ***/
	margin-top: 2px !important;
	margin-right: 5px !important;
}

[data-qb-domain="mangadex.org"] .nav.nav-tabs .fa-rss {
	margin-top: 14px !important;
	margin-right: 20px;
}

[data-qb-domain="mangadex.org"] .card .card-header .fa-rss::before,
[data-qb-domain="mangadex.org"] .nav.nav-tabs .fa-rss::before {
	color: #F0932B !important;
	/*font-size: 14pt;*/
}

[data-qb-domain="mangadex.org"] .card *,
[data-qb-domain="mangadex.org"] .list-group .list-group-item * {

	/*** MANGA CARD CONTENT ***/
	border-color: #1D1D1E;
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .list-group .list-group-item * {
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .card .card-body .rounded {

	/*** MANGA CARD CONTENT COVER ART ***/
	margin: 10px;
}

[data-qb-domain="mangadex.org"] .card .card-body .col-xl-9.col-lg-8.col-md-7 {

	/*** MANGA CARD CONTENT DATA ***/
	margin-top: 10px !important;
	margin-left: -5px !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .col-xl-9.col-lg-8.col-md-7 div {
	margin-top: 2px;
	margin-bottom: 5px;
}

[data-qb-domain="mangadex.org"] .card .card-body .col-xl-9.col-lg-8.col-md-7 div * {
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .card .card-body .badge {

	/*** MANGA CARD CONTENT DATA TAG ***/
	background: #F2784B;
	border-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	padding: 8px 10px 10px 10px !important;
	margin-top: 3px;
	margin-right: 2px;
	margin-bottom: 2px;
}

[data-qb-domain="mangadex.org"] .card .card-body .badge * {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .list-inline .list-inline-item img {

	/*** MANGA CARD CONTENT DATA LINKS ***/
	border-radius: 50% !important;
	margin-top: -4px !important;
	margin-right: 4px !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .btn,
[data-qb-domain="mangadex.org"] .card .card-body #upload_button {

	/*** MANGA CARD CONTENT DATA BUTTON ***/
	background-image: none !important;
	border: none;
	border-radius: 2px !important;
	box-shadow: none !important;
	color: #FFF !important;
	margin-right: 3px;
}

[data-qb-domain="mangadex.org"] .card .card-body .btn * {
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .card .card-body #upload_button {
	background: #10AC84 !important;
	margin-top: -3px !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .btn.manga_follow_button,
[data-qb-domain="mangadex.org"] .card .card-body .btn.dropdown-toggle-split {
	background: #EB974E;
}

[data-qb-domain="mangadex.org"] .card .card-body .btn.dropdown-toggle-split {
	border-top-left-radius: 1px !important;
	border-bottom-left-radius: 1px !important;
	margin-left: -14px;
}

[data-qb-domain="mangadex.org"] .card .card-body .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 10px !important;
	width: 10px !important;
	position: relative;
	top: 3px;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .btn-warning {
	background: #FF6B6B !important;
}

[data-qb-domain="mangadex.org"] #histogram_toggle {
	background: #00b894 !important;
}

[data-qb-domain="mangadex.org"] .nav-tabs {

	/*** MANGA CHAPTER SECTION ***/
	background: #2B2C30;
	border-color: #1D1D1E;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	padding-top: 5px;
	padding-bottom: 7px;
}

[data-qb-domain="mangadex.org"] .nav-tabs * {
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .nav-tabs .nav-link.active {
	background: transparent;
	border: none;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: #FFF;
	margin-bottom: -1px !important;
}

[data-qb-domain="mangadex.org"] .nav-tabs .nav-link:hover,
[data-qb-domain="mangadex.org"] .nav-tabs .nav-link:focus {
	border-color: transparent !important;
}

[data-qb-domain="mangadex.org"] .chapter-container {
	background: #2B2C30;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
}

[data-qb-domain="mangadex.org"] .chapter-container * {
	border-color: #1D1D1E;
	color: #FFF;
	/*font-size: 14pt !important;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .chapter-container > .row:nth-last-of-type(1) * {
	border: none !important;
}

[data-qb-domain="mangadex.org"] .chapter-container .row .badge,
[data-qb-domain="mangadex.org"] .nav-link .badge {
	border-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	padding: 5px 8px;
}

[data-qb-domain="mangadex.org"] .chapter-container .row .badge {
	background: #2C3E50;
}

[data-qb-domain="mangadex.org"] .nav-link .badge {
	background: #446CB3;
	/*font-size: 14pt !important;*/
	font-stretch: condensed !important;
	margin-left: 10px;
}

[data-qb-domain="mangadex.org"] .chapter-container .row .badge,
[data-qb-domain="mangadex.org"] .chapter-container .row .badge *,
[data-qb-domain="mangadex.org"] .nav-link .badge {
	color: #FFF !important;
	/*font-size: 12pt !important;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .edit.tab-content {

	/*** MANGA MISSING SECTION ***/
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .card .card-body #text {

	/*** MANGA COMMENT SECTION ***/
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .card .card-body #text:focus {
	box-shadow: none;
}

[data-qb-domain="mangadex.org"] .card .card-body .form-group button {
	background: #222326;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF !important;
	margin-bottom: 7px;
	margin-left: 3px !important;
}

[data-qb-domain="mangadex.org"] .card .card-body .form-group button .fas::before {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .card .card-body #post_reply_button {
	background: #019875 !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	font-weight: bold;
}

[data-qb-domain="mangadex.org"] .card .card-body #post_reply_button * {
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .card .card-body .row > div > .btn,
[data-qb-domain="mangadex.org"] #back_button {
	background: #EB974E;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	font-weight: bold;
	padding-bottom: 8px;
}

[data-qb-domain="mangadex.org"] #content .table {
	border-collapse: initial;
	border: 2px solid #2B2C30;
	border-radius: 2px;
	border-spacing: 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] #content .table tbody tr {
	background: #2B2C30;
}

[data-qb-domain="mangadex.org"] #content .table-striped tbody tr:nth-of-type(2n+1) {
	background: #222326;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr td {
	border: none;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr td * {
	border-color: #1D1D1E;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr .avatar {
	background: #222326;
	border-radius: 1px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr a[href*="user"] {
	color: #446CB3 !important;
	line-height: 15pt;
}

[data-qb-domain="mangadex.org"] .badge.badge-primary {
	border-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	padding-bottom: 6px;
	margin-top: 10px !important;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr .well {
	background: #202124;
	border: 1px solid #111;
	box-shadow: none;
	padding: 5px 8px !important;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr .post_edit_button,
[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-warning.btn-spoiler {
	background-image: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	font-weight: bold;
	text-shadow: none;
}

[data-qb-domain="mangadex.org"] #content .table tbody tr .post_edit_button *,
[data-qb-domain="mangadex.org"] .btn.btn-sm.btn-warning.btn-spoiler {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] #content .text-center .btn {
	background: #446CB3;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	font-weight: bold;
	padding-bottom: 8px !important;
}

[data-qb-domain="mangadex.org"] #content .text-center .btn * {
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .report-button.btn.btn-sm.btn-secondary.text-warning {
	background: #FF6B6B !important;
	padding-bottom: 7px !important;
}

[data-qb-domain="mangadex.org"] .report-button.btn.btn-sm.btn-secondary.text-warning * {
	font-weight: bold !important;
}

[data-qb-domain="mangadex.org"] .reader-images .alert {
	background: #2B2C30 !important;
}

/* MANGA READER */

/** DESCRIPTION : change the elements of the manga reader page **/
[data-qb-domain="mangadex.org"] .reader-controls-wrapper {

	/*** MANGA READER SIDEBAR ***/
	background: #2B2C30 !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	height: 104px !important;
	width: 100% !important;
	padding-top: 10px !important;
	position: absolute !important;
	top: 62px !important;
	left: 0px !important;
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper * {
	border: none !important;
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper .reader-controls-title {
	max-width: 70%;
	/*line-height: 25pt;*/
	padding-left: 25px !important;
	text-align: left !important;
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper .reader-controls-title .manga-link {
	/*font-size: 16pt !important;*/
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper .reader-controls-title .lang-flag {
	margin-top: -4px;
	margin-right: 4px;
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper .reader-controls-title .d-none.d-lg-block {
	font-stretch: condensed;
	/*display: block !important;*/
	/*width: 50%;*/
}

[data-qb-domain="mangadex.org"] .reader-controls-wrapper .reader-controls-title .chapter-title {
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .reader-controls-chapters {
	width: 400px !important;
	position: absolute !important;
	top: 7px !important;
	right: 15px !important;
}

[data-qb-domain="mangadex.org"] .reader-controls-chapters .d-lg-none {
	display: block !important;
}

[data-qb-domain="mangadex.org"] .reader-controls .rounded.flag.flag-jp {
	position: relative !important;
	top: -4px !important;
}

[data-qb-domain="mangadex.org"] #jump-chapter,
[data-qb-domain="mangadex.org"] #jump-page,
[data-qb-domain="mangadex.org"] #jump_chapter,
[data-qb-domain="mangadex.org"] #jump_page,
[data-qb-domain="mangadex.org"] #jump_group {
	background: #222326;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	color: #FFF;
	/*font-size: 14pt !important;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] #jump_chapter,
[data-qb-domain="mangadex.org"] #jump_page,
[data-qb-domain="mangadex.org"] #jump_group {
	border: none;
	height: 45px;
}

[data-qb-domain="mangadex.org"] .reader-controls-chapters #jump-chapter:focus,
[data-qb-domain="mangadex.org"] .reader-controls-chapters #jump-page:focus {
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] tr.post .mentioned {
	background: transparent;
}

[data-qb-domain="mangadex.org"] #comment-button,
[data-qb-domain="mangadex.org"] #settings-button {
	background-image: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	color: #FFF !important;
	/*font-size: 14pt !important;*/
	width: 50px !important;
	/*position: fixed !important;*/
	/*right: 10px !important;*/
}

[data-qb-domain="mangadex.org"] #comment-button,
[data-qb-domain="mangadex.org"] .btn.btn-success.comment_button {
	background: #019875 !important;
	/*bottom: 10px !important;*/
}

[data-qb-domain="mangadex.org"] #comment-button * {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] #settings-button {
	background: #446CB3;
	/*bottom: 60px !important;*/
}

[data-qb-domain="mangadex.org"] .modal-container .custom-checkbox .custom-control-label::before {
	background: #222326;
	border: 1px solid #1D1D1E;
	border-radius: 2px !important;
	margin-top: 3px !important;
}

[data-qb-domain="mangadex.org"] .modal-content .container .form-group .btn.btn-default.btn-secondary.col.px-2.active {
	background: #222326;
	opacity: .5;
}

[data-qb-domain="mangadex.org"] .reader-images h2 {
	/*font-size: 18pt;*/
}

[data-qb-domain="mangadex.org"] #content .table tbody tr .post_edit_button {
	background: #079992;
}

[data-qb-domain="mangadex.org"] .reader-main {

	/*** MANGA READER CONTAINER ***/
	max-width: 75% !important;
	margin: auto;
	padding: 0px !important;
	margin-top: 120px;
}

[data-qb-domain="mangadex.org"] .reader.layout-horizontal .reader-images {
	padding-right: 0px !important;
}

[data-qb-domain="mangadex.org"] .reader-main img {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

[data-qb-domain="mangadex.org"] .reader.fit-horizontal .reader-main,
[data-qb-domain="mangadex.org"] .reader.fit-horizontal .reader-images,
[data-qb-domain="mangadex.org"] .reader.fit-horizontal .reader-image-wrapper,
[data-qb-domain="mangadex.org"] .reader.fit-horizontal .reader-images img {
	max-width: 100%;
}

/* QUICK SEARCH */

/** DESCRIPTION : change the elements of the search page **/
[data-qb-domain="mangadex.org"] .col-form-label {
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .form-control {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .form-group.row .btn-group a {
	background: #222326 !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	color: #FFF;
}

[data-qb-domain="mangadex.org"] .form-group.row .btn-secondary:not(:disabled):not(.disabled).active {
	opacity: .5;
}

[data-qb-domain="mangadex.org"] #group_name,
[data-qb-domain="mangadex.org"] #username {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .table-responsive {
	background: #2B2C30;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	margin-bottom: 10px;
}

[data-qb-domain="mangadex.org"] .table-responsive .table {
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] .table.table-striped.table-hover.table-sm * {
	border: none;
	box-shadow: none;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

[data-qb-domain="mangadex.org"] .table.table-striped.table-hover.table-sm .badge,
[data-qb-domain="mangadex.org"] .table.table-striped.table-hover.table-sm .badge * {
	border-radius: 2px !important;
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] .table.table-striped.table-hover.table-sm .badge[title*="comment"] {
	background: #2C3E50;
}

[data-qb-domain="mangadex.org"] #search_manga {
	background: #2B2C30;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	padding-bottom: 1px !important;
}

[data-qb-domain="mangadex.org"] #search_manga .border-bottom {
	border-color: #1D1D1E;
	box-shadow: none !important;
	padding: 5px !important;
}

[data-qb-domain="mangadex.org"] #search_manga .text-center .btn,
[data-qb-domain="mangadex.org"] #search_manga .text-center .btn * {
	color: #FFF !important;
}

/* TITLES */

/** DESCRIPTION : change the elements of the titles page **/
[data-qb-domain="mangadex.org"] .nav-item.dropdown.ml-auto {
	margin-right: 20px;
}

[data-qb-domain="mangadex.org"] .clearfix.mb-3,
[data-qb-domain="mangadex.org"] .row.mt-1.mx-0 {
	background: #2B2C30;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	padding: 10px 12px;
	margin-top: 0px !important;
}

[data-qb-domain="mangadex.org"] .clearfix.mb-3 {
	text-align: center !important;
}

[data-qb-domain="mangadex.org"] #content .border-bottom {
	background: #2B2C30;
	border-color: #1D1D1E !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	padding: 5px;
}

[data-qb-domain="mangadex.org"] .border-bottom.d-flex.align-items-center,
[data-qb-domain="mangadex.org"] .chapter-container .border-bottom,
[data-qb-domain="mangadex.org"] .col-lg-6.border-bottom.pl-0.my-1,
[data-qb-domain="mangadex.org"] .col-md-6.border-bottom.p-2,
[data-qb-domain="mangadex.org"] .reader-images .border-bottom,
[data-qb-domain="mangadex.org"] .text-truncate.border-bottom {
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] #content .border-bottom .badge {
	background: #2C3E50;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
margin-top: 0px !important;
}

[data-qb-domain="mangadex.org"] #content .border-bottom .badge,
[data-qb-domain="mangadex.org"] #content .border-bottom .badge * {
	color: #FFF !important;
	/*font-size: 12pt;*/
}

[data-qb-domain="mangadex.org"] .row.mt-1.mx-0 *,
[data-qb-domain="mangadex.org"] #content .border-bottom.d-flex * {
	border-color: #1D1D1E !important;
	color: #FFF;
	/*font-size: 14pt;*/
	font-stretch: condensed;
}

/* SEARCH */

/** DESCRIPTION : change the elements of the search page **/
[data-qb-domain="mangadex.org"] #search_titles_form input {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

[data-qb-domain="mangadex.org"] .dropdown.bootstrap-select.form-control {
	background: transparent !important;
}

[data-qb-domain="mangadex.org"] #search_titles_form .custom-checkbox .custom-control-label::before,
[data-qb-domain="mangadex.org"] #manga_add_form .custom-checkbox .custom-control-label::before {
	background: #222326;
	border: 1px solid #1D1D1E;
	border-radius: 2px !important;
	margin-top: 3px !important;
}

[data-qb-domain="mangadex.org"] #search_titles_form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
[data-qb-domain="mangadex.org"] #manga_add_form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	color: #FFF !important;
	margin-top: 3px !important;
}

[data-qb-domain="mangadex.org"] #content .large_logo.rounded.position-relative.mx-1.my-2 .car-caption.px-2.py-1 {
	background: #222326;
	box-shadow: none;
	height: 110px !important;
}

[data-qb-domain="mangadex.org"] .btn-group.btn-group-xs.dropup button {
	background-color: #2B2C30;
	background-image: none;
	border: none !important;
	border-radius: 2px !important;
	box-shadow: none;
	padding: 5px;
	margin-top: 4px;
}

[data-qb-domain="mangadex.org"] .btn-group.btn-group-xs.dropup button * {
	color: #FFF !important;
	text-shadow: none !important;
}

[data-qb-domain="mangadex.org"] .btn-group.btn-group-xs.dropup button .fas {
	filter: brightness(0) invert(1);
}

[data-qb-domain="mangadex.org"] .btn-group.btn-group-xs.dropup .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 15px !important;
	width: 15px !important;
	position: relative;
	top: 6px;
	filter: brightness(0) invert(1) !important;
}

[data-qb-domain="mangadex.org"] .btn-group.btn-group-xs.dropup .btn.btn-secondary.dropdown-toggle.dropdown-toggle-split:focus {
	background: #2B2C30 !important;
	box-shadow: none !important;
}

/* ADD */

/** DESCRIPTION : change the elements of the add page **/
[data-qb-domain="mangadex.org"] form[id*="_add_form"] input,
[data-qb-domain="mangadex.org"] form[id*="_add_form"] textarea {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

[data-qb-domain="mangadex.org"] .form-control:focus {
	background: #222326;
	box-shadow: none;
}

/* FORUM */

/** DESCRIPTION : change the elements of the forum **/
[data-qb-domain="mangadex.org"] .breadcrumb {
	background: #2B2C30;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	padding-top: 10px;
}

[data-qb-domain="mangadex.org"] .btn.btn-secondary.new_thread_button {
	background: #019875 !important;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	font-weight: bold;
	padding-bottom: 8px;
}

[data-qb-domain="mangadex.org"] .btn.btn-secondary.new_thread_button * {
	color: #FFF !important;
}

[data-qb-domain="mangadex.org"] #subject {
	background: #222326;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

[data-qb-domain="mangadex.org"] #start_thread_button {
	background: #019875 !important;
}

[data-qb-domain="mangadex.org"] .table thead th {
	border: none;
}

[data-qb-domain="mangadex.org"] #content .table.table-md.edit tr:nth-of-type(2n) {
	background: #222326 !important;
}

[data-qb-domain="mangadex.org"] .edit tr[id*="post_edit"] .form-group button {
	background: #2B2C30;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF !important;
	margin-bottom: 7px;
	margin-left: 3px !important;
}

[data-qb-domain="mangadex.org"] .edit #text {
	background: #2B2C30;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
}

[data-qb-domain="mangadex.org"] .btn.btn-secondary.post_reply_button {
	background: #019875 !important;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	color: #FFF !important;
	/*font-size: 14pt;*/
	font-stretch: condensed;
	font-weight: bold;
}

/* GROUPS */

/** DESCRIPTION : change the elements of the groups page **/
[data-qb-domain="mangadex.org"] #content .card .table.table-sm {
	box-shadow: none !important;
}

[data-qb-domain="mangadex.org"] #content .card .table.table-sm th {
	border: none !important;
}

/* USERS */

/** DESCRIPTION : change the elements of the users page **/
[data-qb-domain="mangadex.org"] .card .card-body .btn.btn-secondary[href*="message"] {
	background: #5CB85C;
}

[data-qb-domain="mangadex.org"] #friend_add_button {
	background: #337AB7;
}

[data-qb-domain="mangadex.org"] #user_block_button {
	background: #FF6B6B;
}

/* MDLIST */

/** DESCRIPTION : change the elements of the mdlist page **/
[data-qb-domain="mangadex.org"] .nav-tabs .dropdown.ml-auto .dropdown-toggle::after {
	background: no-repeat url("https://i.imgur.com/OygFMxF.png") center;
	background-size: cover;
	border: none;
	height: 10px !important;
	width: 10px !important;
	position: absolute;
	top: 18px;
	right: 4px;
	filter: brightness(0) invert(1) !important;
}

/* MESSAGE */

/** DESCRIPTION : change the elements of the message page **/
[data-qb-domain="mangadex.org"] .table.table-striped.table-md {
	border-top-right-radius: 1px !important;
	border-top-left-radius: 1px !important;
}

[data-qb-domain="mangadex.org"] .table.table-striped.table-md tr:nth-of-type(1) {
	background: #2B2C30;
}

[data-qb-domain="mangadex.org"] #msg_send_form input {
	background: #222326;
	border: none;
	border-radius: 2px;
}

[data-qb-domain="mangadex.org"] #msg_send_form input:focus {
	box-shadow: none !important;
}

/* INFO */

/** DESCRIPTION : change the elements of the info page **/
[data-qb-domain="mangadex.org"] #content h3 {
	/*font-size: 16pt;*/
}

[data-qb-domain="mangadex.org"] .reader-controls-actions {
    margin-left: auto;
    margin-right: 25px;
}

[data-qb-domain="mangadex.org"] .reader-controls-chapters {
    margin-right: 150px;
}

/* Mangadex Updates */

/** DESCRIPTION : change the elements of the updates page **/
[data-qb-domain="mangadex.org/updates"] .table thead th:nth-of-type(1) {
	padding-left: 10px;
}

[data-qb-domain="mangadex.org/updates"] .table td {
	padding: 0px !important;
}

